<div id="<%= dom_id transac_category %>">
  <p>
    <strong>Category:</strong>
    <%= transac_category.category_id %>
  </p>

  <p>
    <strong>Transac:</strong>
    <%= transac_category.transac_id %>
  </p>

</div>
