<h1>Editing transac category</h1>

<%= render "form", transac_category: @transac_category %>

<br>

<div>
  <%= link_to "Show this transac category", @transac_category %> |
  <%= link_to "Back to transac categories", transac_categories_path %>
</div>
